{% from '_icons.html' import chevron_right, chevron_down, folder %}
{% for node in nodes %}
{% set child = (dir ~ '/' ~ node.name) if dir else node.name %}
<li class="tree-node{% if not node.has_children %} leaf{% endif %}">
  <span class="tree-toggle" {% if node.has_children %}data-loaded="false"
        hx-get="/tree?library={{ library | urlencode }}&dir={{ child | urlencode }}"
        hx-target="next .tree-children" hx-swap="innerHTML"{% endif %}>
    {{ chevron_right('chev chev-r') }}{{ chevron_down('chev chev-d') }}
  </span>
  <a class="tree-link" data-dir="{{ child }}" title="{{ child }}"
     hx-get="/grid?library={{ library | urlencode }}&dir={{ child | urlencode }}&offset=0"
     hx-target="#main" hx-swap="innerHTML">
    {{ folder('tree-ico') }}<span class="tree-name">{{ node.name }}</span>
  </a>
  <ul class="tree-children"></ul>
</li>
{% endfor %}
