<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}fotil{% endblock %}</title>
  <script src="/static/tailwind.js"></script>
  <script src="/static/htmx.min.js" defer></script>
  <script src="/static/app.js" defer></script>
  <link rel="stylesheet" href="/static/app.css">
</head>
<body class="h-screen flex flex-col bg-neutral-100 text-neutral-900">
  {% block body %}{% endblock %}
</body>
</html>
